.HotAccessories{
    display:flex;
    /* width:90vw; */
    margin:auto;
    /* border: 2px solid red; */
}

.HotAccessories div:first-child{
    cursor:pointer;
    transition: all 0.5s;
    width: 24vw;
}

.HotAccessories div:first-child:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px grey;
}

.HotAccessories div:last-child{
    display: flex;
    flex-wrap: wrap;
}