.videoCard{
    width: 30vmax;
    height:48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0.5vmax;
    cursor: pointer;
}

.videoCard a{
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100%;
    background-color:rgba(202, 184, 184, 0.527);
    color:rgb(104, 95, 95);
    
}

.videoCard a svg{
    fill: rgb(27, 23, 23);

}

.videoCard:hover a{
    /* padding: 2.5vmax; */
    /* border: none; */
    /* border-radius: 100%; */
    background-color: aliceblue;

}

.videoCard p{
    color:white;
    margin: 1vmax;
}